<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
	<title>Self-immolations in Tibet (2009-2016)</title>
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="http://www.d3plus.org/js/d3plus.js"></script>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="shortcut icon" href="favicon.ico">
<!-- 	<meta property="og:image" content="http://api.ning.com/files/R2GXBGDJXeBW0ezlSt6Niz5QaOYt*1Xtf22kRnyn00kgufDytXVT*2IbS7s9rdKMqSekQhMJz6Vzh9ZEsxHLAXX9ERNjlJbm/tibetan_monks_0112.jpg"/> -->
	<meta property="og:title" content="Self-immolations in Tibet (2009-2016)"/>
	<meta property="og:url" content="http://immense-ridge-1024.herokuapp.com/"/>
	<meta property="og:site_name" content="Self-immolations in Tibet (2009-2016)"/>
</head>

<body>

<img id='thumbnail' src='fbthumb.png'>

<div id='header'>
	<h1>Self-immolations in Tibet (2009-2016)</h1>
</div>

<div id='main'>
	<div id='mapbox'>
    
    <div id='point'></div>
  </div>
</div>
<div id='foot'>
	<button onclick="updateMap(6)">2009</button>
	<button onclick="updateMap(5)">2011</button>
	<button onclick="updateMap(4)">2012</button>
	<button onclick="updateMap(3)">2013</button>
	<button onclick="updateMap(2)">2014</button>
	<button onclick="updateMap(1)">2015</button>
	<button onclick="updateMap(0)">2016</button>
</div>
<div id='biobox'>
	<span id="nam"></span>
  <div>
	  <span>
	  	Name:
  		<span id="nmplt">
	  		Example Name
	  	</span>
  	</span>
  	<span>
  		Age:
  		<span id="ageplt">
  			99
  		</span>
  	</span>
  	<span>
  		Date:
	  	<span id="dateplt">
	  		November 5, 2016
	  	</span>
	  </span>
  	<span>
	  	Status:
	  	<span id="stplt">
  			Example status
	  	</span>
  	</span>
	  <span id="infplt">
	  	Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text. Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text.Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text. Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text. Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text. Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text. Lorem ipsum dolor sit amet. Bla bla bla.. Example filler text.
	  </span>
  </div>
</div>

<div id='desc'>
	<p>This interactive map is created to honor the memory of the Tibetans who have self-immolated between 2009 and 2016 to protest Chinese rule. Tibet was invaded by China in 1949, and since then 1.2 million Tibetans have died as a direct result of China's occupation. Today, Tibet ranks as one of the most oppressed places on the planet. Following the 2008 uprising, when tens of thousands of Tibetans rose up against Chinese rule, Tibetans began setting themselves on fire to demand freedom and the return of the Dalai Lama. To date, more than 151 Tibetans have self-immolated.</p>
</div>

<div id='overlay'></div>

<!-- <div class="pure-g main">
	<div id="mapbox" class="pure-u-16-24"></div>
	<div id="biobox" class="pure-u-8-24">
		<span id="nam"></span>
		<br>
		<p><strong>Name: </strong><span id="nmplt"><span></p>
		<p><strong>Age: </strong><span id="ageplt"><span></p>
		<p><strong>Date: </strong><span id="dateplt"><span></p>
		<p><strong>Status: </strong><span id="stplt"><span></p>
		<p><span id="infplt"><span></p>

	</div>
</div>
<div class="pure-g">
	<div class="pure-u-1-1 footer">
		<ul>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(6)">2009</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(5)">2011</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(4)">2012</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(3)">2013</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(2)">2014</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(1)">2015</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(0)">2016</button>
			</li>
		</ul>
	</div>
</div>
 -->
</body>
	<script src="main.js"></script>
</html>