<!DOCTYPE html>
<meta charset="utf-8">
<html lang="en">
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
	<script src="http://d3js.org/d3.v3.min.js"></script>
	<script src="http://d3js.org/topojson.v1.min.js"></script>
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

</head>
<style>
	.footer{
	  background: black;
	  width:70%;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	}

	#tibet {
		fill: black;
		stroke: black;
		stroke-dasharray: 5, 2;
	}

	#mapbox {
		height: 550px;
		padding-top: 20px;
	}

	#biobox {
		height: 550px;
		padding-top: 20px;
	}

	body {
		background-color: black;

	}

	.point {
		fill: red;
	}

	.nav {
		display: inline;
	}

</style>
<body>

<div class="pure-g main">
	<div id="mapbox" class="pure-u-16-24"></div>
	<div id="biobox" class="pure-u-8-24"></div>
</div>
<div class="pure-g">
	<div class="pure-u-1-1 footer">
		<ul>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(2)">2013</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(1)">2014</button>
			</li>
			<li class="nav">
				<button class="pure-button button-xsmall" onclick="updateMap(0)">2015</button>
			</li>
		</ul>
	</div>
</div>	

<script>
	// $width = $("#mapbox").width();
	// $height = $("#mapbox").height();
	// console.log(($width / 3) * 2);
	// console.log($height);

	var margin = {top: 10, left: 10, bottom: 10, right: 10}
	  , width = parseInt(d3.select('#mapbox').style('width'))
	  , width = width - margin.left - margin.right
	  , mapRatio = .5
	  , height = width * mapRatio;

	var dataset = [
	{date: 1, nav: [{lat: 92, lon: 31},	{lat: 89, lon: 32}, {lat: 89, lon: 35}, {lat: 91, lon: 32}]},
	{date: 2, nav: [{lat: 88, lon: 31},	{lat: 89, lon: 34}, {lat: 90, lon: 33}, {lat: 90, lon: 34}]},
	{date: 3, nav: [{lat: 94, lon: 31},	{lat: 94, lon: 33}, {lat: 91, lon: 33}, {lat: 91, lon: 34}]}
	]

	var phtext = {
	name: "Name",
	age: "Age",
	blah: "Blah bloo"
	}

    var projection = d3.geo.albers()
	    .rotate([-95, -1.5])
	    .center([0, 33.5])
	    .parallels([50, 60])
	    .scale(width * 1.75)
	    .translate([width / 2, height / 2]);

    var path = d3.geo.path()
 	   .projection(projection);

	var svg = d3.select("#mapbox").append("svg")
		.attr("id", "mw")
	    .attr("width", "100%")
	    .attr("height", "100%")
	    .append("g");

    var bio = d3.select("#biobox").append("svg")
    	.attr("id", "bw")
	    .attr("width", "100%")
	    .attr("height", "100%");

	d3.json("finmap.json", function(map) {
	  svg.append("path")
	    .datum(topojson.feature(map, map.objects.regions))
	    .attr("d", path)
	    .attr("id", "tibet")
	    .transition().duration(4500).style("stroke", "white")
	    .delay(500)
	    .transition().duration(4500).style("fill", "brown");
	  })
		

	var i = 0;
	function startTimer() {
		setInterval(function() {
			updateMap(i);
			i++;			
		}, 3000)
	}
	var biotext = svg.selectAll("text")
		.data(phtext)
		.enter();

	function updateMap(y) {
		d3.select("svg").selectAll("circle.point")
			.remove();
		d3.json("data.json", function(error, db) {
			if (error) {console.log(error)} else
			console.log(db);
			d3.select("svg").selectAll("circle.point")
		  		.data(db.stuff[y].incidents)
		  		.enter()
		  		.append("circle")
		  		.attr("class", "point")
		  		.attr("r", 1)
		  		.html(function(d) {return d.id} )
		  		.on("mouseover", function() {
		  			d3.select("#bw").selectAll("image").remove();
		  			d3.select("#bw").selectAll("text").remove();
		  			var x = this.innerHTML;
		  			console.log(x);
		  			d3.select(this).style("fill", "white")
		  			d3.select("#bw").append("svg:image")
		  				.data(db.stuff[y].incidents)
		  				.attr("xlink:href", function(d, i) {return db.stuff[y].incidents[x].img} )
		  				.attr("width", "50%")
		  				.attr("height", "50%")
		  				.attr("opacity", 0)
		  				.attr("x", 25)
		  				.transition().duration(1500).attr("opacity", 10);
		  			d3.select("#bw").append("text")
		  				.data(db.stuff[y].incidents)
		  				.attr("y", 300)
		  				.attr("x", 25)
		  				.attr("opacity", 0)
		  				.text(function(d, i) {return db.stuff[y].incidents[x].name})
		  				.style("fill", "white")
		  				.transition().duration(1500).attr("opacity", 10);
		  			d3.select("#bw").append("text")
		  				.data(db.stuff[y].incidents)
		  				.attr("y", 320)
		  				.attr("x", 25)
		  				.attr("opacity", 0)
		  				.text(function(d, i) {return db.stuff[y].incidents[x].age})
		  				.style("fill", "white")
		  				.transition().duration(1500).attr("opacity", 10);
		  			d3.select("#bw").append("text")
		  				.data(db.stuff[y].incidents)
		  				.attr("y", 340)
		  				.attr("x", 25)
		  				.attr("opacity", 0)
		  				.text(function(d, i) {return db.stuff[y].incidents[x].date})
		  				.style("fill", "white")
		  				.transition().duration(1500).attr("opacity", 10);
		  			d3.select("#bw").append("text")
		  				.data(db.stuff[y].incidents)
		  				.attr("y", 360)
		  				.attr("x", 25)
		  				.attr("opacity", 0)
		  				.text(function(d, i) {return db.stuff[y].incidents[x].status})
		  				.style("fill", "white")
		  				.transition().duration(1500).attr("opacity", 10);
		  		})
		  		.on("mouseout", function() {
		  			d3.select(this).style("fill", "red")
		  		})
		  		.attr("transform", function(d) {
		  			return "translate(" + projection([d.lat, d.lon]) + ")";})
		  		.transition().duration(1500).attr("r", 5);
		})
	}


</script>

</body>
	<script src="main.js"></script>
</html>