html
{
  height: 100%;
}

body
{
  margin: 0;
  height: 100%;
  background: #111;
  color: #fff;
  font-family: 'Vollkorn', serif;
  font-size: 100%;
}

body.modal
{
  overflow: hidden;
}

.label {
  fill: black;
  fill-opacity: 0.6;
  font-size: 24px;
  font-weight: 400;
  text-anchor: middle;
}

#header {
  text-align: center;
}

#desc {
	vertical-align: middle;
	 max-width: 100%;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 250px;
  padding-right: 250px;
}

img
{
  max-width: 100%;
  vertical-align: middle;
  border-radius: 1px;
}

#thumbnail {
	display: none;
}

button
{
  border: none;
  color: black;
  background: red;
  font-size: .9em;
  padding: .5em 1em;
  margin: 0 .5em;
}

button:hover
{
  background: orange;
}

button:active
{
  background: black;
  color: white;
}

.clicked
{
  background: gray;
  color: white;
}

#main
{
  text-align: center;
  padding: 2em 0;
  height: 110%;
}

#mapbox
{
  position: relative;
  height: 100%;
}

.point
{
  fill: red;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

#foot
{
  text-align: center;
}

#biobox
{
  position: fixed;
  top: 0;
  right: -75%;
  bottom: 0;
  left: auto;
  width: 28em;
  max-width: 75%;
  transition: .5s all;
  opacity: 0;
  padding: 0;
  box-shadow: 0 0 0 transparent;
  background: #222;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
}

.modal #biobox
{
  right: 0;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  opacity: 1;
  z-index: 1;
  padding: 2em;
}

#biobox > img
{
  max-height: 14em;
  margin-bottom: 2em;
}

#biobox > div
{
  text-align: left;
}

#biobox > div > span
{
  display: block;
  font-weight: bold;
}

#biobox > div > span > span
{
  font-weight: normal;
}

#biobox #infplt
{
  font-weight: normal;
  margin: 1em 0
}

.modal #overlay
{
  background: rgba(0,0,0,.5);
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-device-width: 1024px) and (orientation: portrait) {
	#main {
  		height: 55%;
  	}
  	#mapbox {
  		height: 70%;
  	}
}
